<h2>アカウント情報の編集 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :名前 %>
          <%= f.text_field :name, autocomplete: "off" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field">
          <%= f.label :パスワード %> <i>(変更しない場合、空白)</i>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> 文字以上にしてください</em>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :パスワード（確認用） %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :現在のパスワード %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
  <div class="actions">
    <%= f.submit "更新", class: 'btn btn-default btn-lg btn-success' %>
  </div>
<% end %>


<br>
<%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete,  class: 'btn btn-default btn-sm btn-danger' %>

<%= link_to "戻る", :back, class: 'btn btn-default btn-sm' %>
